{% extends 'base_table.html' %}

{% block page_title %}Gestión | Administradores{% endblock %}

{% block back_button %}
    <a href="{% url 'dashboard' %}" class="inline-flex items-center text-indigo-600">
        <i class="fas fa-arrow-left mr-2"></i><span class="hover:underline">Regresar</span>
    </a>
{% endblock %}

{% block crud_title %}Listado de {% endblock %} {% block crud_badge %}Administradores{% endblock %}

{% block create_button %}
    <a href="{% url 'admins_create' %}" class="inline-flex items-center px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 mr-2">
        <i class="fas fa-plus py-1"></i>
    </a>
{% endblock %}

{% block table_header %}
    <tr class="text-gray-800 text-sm">
        <th class="px-4 py-2">#</th>
        <th class="px-4 py-2">Nombre</th>
        <th class="px-4 py-2">Email</th>
        <th class="px-4 py-2">Institución</th>
        <th class="px-4 py-2">Acciones</th>
    </tr>
{% endblock %}

{% block table_body %}
    {% for admin in page_obj %}
        <tr class="text-center">
            <td class="px-4 py-2">{{ forloop.counter }}</td>
            <td class="px-4 py-2">{{ admin.first_name }} {{ admin.last_name }}</td>
            <td class="px-4 py-2 underline text-blue-600 cursor-text">{{ admin.email }}</td>
            <td class="px-4 py-2">{{ admin.institution.name }}</td>
            <td class="px-4 py-2">
                <a href="{% url 'admins_update' admin.id %}" class="text-indigo-600 hover:underline"><i class="fas fa-edit"></i></a>
                {% if admin.is_active %}
                    <a href="{% url 'admins_deactivate' admin.id %}" class="text-yellow-600 ml-2" title="Desactivar">
                        <i class="fas fa-user-slash"></i>
                    </a>
                {% else %}
                    <a href="{% url 'admins_activate' admin.id %}" class="text-green-600 ml-2" title="Activar">
                        <i class="fas fa-user-check"></i>
                    </a>
                {% endif %}
                <a href="#" class="text-red-600 hover:underline ml-2"><i class="fas fa-trash delete-btn" data-url="{% url 'admins_delete' admin.id %}"></i></a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6" class="px-4 py-2 text-center">No hay administradores disponibles.</td>
        </tr>
    {% endfor %}
{% endblock %}